<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quasi perferendis veritatis quas obcaecati nulla, qui, fuga, ipsa dolores dolore repellendus! Eaque, sed! Nesciunt vero, sed sapiente vel laudantium cumque?</p>
    </div>
</section>