<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores magnam praesentium earum temporibus, consequuntur adipisci molestias laborum atque, aperiam modi commodi illum, officia quo iure cupiditate facere alias? Id.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequuntur officiis et quam eaque ratione at culpa voluptas eum fugit obcaecati odio praesentium, modi possimus excepturi cum. Dolor, blanditiis tempora.</p>
    <a href="https://www.github.com" class="btn btn-success">Repository Online</a>
</div>